.container {
  max-width: 1200px;
  margin: 0 auto;
  height: 100vh;
  padding-left: 35rem;
  padding-right: 5rem;
  @media (max-width: 1155px) {
    padding-left: 5rem;
  }
  @media (max-width: 670px) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
