.sidebar {
  background-color: $blue;
  position: fixed;
  max-width: 450px;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 4px 0px 28px 0px rgba(34, 60, 80, 0.28);
  z-index: 50;
  transition: left 0.4s ease-in;
  padding: 3rem;
  overflow: auto;
  @media (max-width: 1155px) {
    left: -470px;
  }
  &.active {
    left: 0;
  }
  &__back {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    transition: 0.4s ease-in;
    background-color: transparent;
    height: 46px;
    width: 46px;
    border-radius: 50%;
    transition: background-color 0.3s;
    &:hover {
      background-color: rgba($color: $white, $alpha: 0.2);
    }
    @media (max-width: 1150px) {
      display: block;
    }
  }
  // &__button {
  //   top: 40rem;
  //   @media (max-width: 991px) {
  //     display: none;
  //   }
  // }
  // &__social {
  //   top: 25rem;
  // }
  &__description {
    color: $white;
    font-size: 1.6rem;
    padding: 2rem 0;
    border-top: 1px solid lighten($color: $blue, $amount: 10);
    // opacity: 1;
    // padding: 0 2rem;
    // transform: translateX(-50%);
    // overflow: hidden;
    // transition: left 0.4s ease-in, opacity 0.8s ease-in;
  }
}
// .show-info {
//   .sidebar {
//     left: 0;
//     &__profile,
//     &__button,
//     &__social {
//       right: 50%;
//     }
//     &__profile {
//       top: 2rem;
//     }
//     &__button {
//       top: 29rem;
//     }
//     &__social {
//       top: 18rem;
//     }
//     &__description {
//       left: 50%;
//       opacity: 1;
//       transform: translateX(-50%);
//     }
//   }
// }

// .sidebar-mobile {
//   display: none;
//   @media (max-width: 991px) {
//     display: block;
//     left: -600px;
//   }
// }
