<aside class="sidebar">
  <div class="profile sidebar__profile">
    <img class="profile__photo" src="assets/images/photo.jpg" alt="user" />
    <div class="profile__info">
      <div class="profile__name">Portyanko Alexandr</div>
      <div class="profile__text">Front-end</div>
    </div>
  </div>
  <div class="sidebar__social social">
    <a class="social__link" href="mailto:lectou@outlook.com" target="_blank">
      <img class="social__icon" src="assets/images/social/mail.png" alt="mail" />
    </a>
    <a class="social__link" href="https://t.me/alex_portyanko" target="_blank">
      <img class="social__icon" src="assets/images/social/telegram.png" alt="telegram" />
    </a>
    <a class="social__link" href="https://github.com/lectou" target="_blank">
      <img class="social__icon" src="assets/images/social/github.png" alt="github" />
    </a>
  </div>
  <button class="sidebar__back"><img src="assets/images/back.png" alt="back" /></button>
  <ul class="mySkills">
    <li class="mySkills__items">
      <div class="mySkills__title">Course</div>
      <p class="mySkills__text"><b>javascript:</b> freeCodeCamp, learn.javascript.ru.</p>
      <p class="mySkills__text"><b>react:</b> freeCodeCamp, Udemy.</p>
    </li>
    <li class="mySkills__items">
      <div class="mySkills__title">Skills</div>
      <p class="mySkills__text">
        HTML, CSS, javaScript, SCSS, bootstrap4, react, redux, formik, ajax, gulp4, webpack,
        adobeIllustrator, photoshop, figma, github, gitlab.
      </p>
    </li>
  </ul>
</aside>
