<aside class="sidebar">
  <div class="profile sidebar__profile">
    <img class="profile__photo" src="assets/images/photo.jpg" alt="user" />
    <div class="profile__info">
      <div class="profile__name">Portyanko Alexandr</div>
      <div class="profile__text">Front-end</div>
    </div>
  </div>
  <div class="sidebar__social social">
    <a class="social__link" href="#">
      <img class="social__icon" src="assets/images/social/mail.png" alt="mail" />
    </a>
    <a class="social__link" href="#">
      <img class="social__icon" src="assets/images/social/telegram.png" alt="telegram" />
    </a>
    <a class="social__link" href="#">
      <img class="social__icon" src="assets/images/social/facebook.png" alt="facebook" />
    </a>
  </div>
  <button class="sidebar__back"><img src="assets/images/back.png" alt="back" /></button>
  <div class="sidebar__description">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur recusandae itaque aut
    accusantium eum distinctio omnis debitis. Nisi corporis fuga eaque debitis, ducimus mollitia
    ipsum illo quibusdam, consequatur nesciunt voluptas, recusandae iure neque iusto quo voluptate
    nobis? Sequi temporibus a excepturi odio sit, ipsam dolores, odit aliquid fugit voluptatem,
    repellat tenetur. Reiciendis delectus eum, magni officiis vero possimus molestias recusandae
    deleniti aut quam cum corporis rerum incidunt nam culpa. Ipsam libero recusandae dicta hic
    excepturi, magni error laboriosam quo ipsum? Reiciendis expedita alias, optio labore eos eveniet
    sed cumque quisquam! Ab, ipsa odio illum soluta magni optio dolorum rem sapiente ipsam. Earum,
    non fugiat alias architecto facilis cupiditate voluptatem nisi magnam quidem laboriosam eius
    magni, inventore dicta impedit ad totam corporis cum. Amet, iusto nobis. Quas culpa qui dicta
    atque facilis ducimus commodi nihil deserunt, sint possimus temporibus facere? Deleniti quidem.
  </div>
</aside>
